{% extends 'base.html' %}

{% block title %}Update Post{% endblock %}

{% block content %}

<form method="post" action="">
  {% csrf_token %}
  <div class="form-group">
    <label for="title">Title</label>
    <input type="text" class="form-control" id="title" name="title" value="{{ form.title.value|default_if_none:"" }}" placeholder="Title">
    <p>{{ form.title.errors }}</p>
  </div>
  <div class="form-group">
    <label for="content">Content</label>
    <input type="text" class="form-control" id="content" name="content" value="{{ form.content.value|default_if_none:"" }}" placeholder="Content">
    <p>{{ form.content.errors }}</p>
  </div>
  <div class="form-group">
    <label for="tag">Tag</label>
    <input type="text" class="form-control" id="tag" name="tag" value="{{ form.tag.value|default_if_none:"" }}" placeholder="Tag">
    <p>{{ form.tag.errors }}</p>
  </div>
  <button type="submit" class="btn btn-success">Update</button>
</form>

{% endblock %}