{% extends 'base.html' %}

{% load humanize %}

{% block title %}Leopold{% endblock %}

{% block content %}

{% for post in posts %}
<div class="bottom-hr row">
    <h3><a href="{% url 'view_post' post.id %}">{{ post.title }}</a></h3>
    <h5>{{ post.link|truncatechars:15 }}</h5>
    <p>
        점수 : {{ post.vote }} 개 |
        <a href="{% url 'view_user' post.author.username %}">{{ post.author.username }}</a> 님이 {{ post.created_at|naturaltime }}에 작성함
    </p>
</div>
{% endfor %}
{% if posts_count > 10 %}
<p>
    <br>
    <a class="btn btn-primary" href="{% url 'list_post' %}?page=2">Next Page</a>
</p>
{% endif %}

{% endblock %}