{% extends "base.html" %}

{% block head %}
    <title>Welcome</title>
{% endblock %}

{% block body %}
    <div class="content container">
        <div class="row">
            <div class="col-md-8">
                <h1 class="login">Login Page</h1>
                {% if error %}
                    <h2>{{ error }}</h2>
                {% endif %}
                {% if request.user.is_anonymous %} <!-- 로그인이 안되어 있으면 폼을 띄워줌 -->
                    <form method="post" action=".">
                    <p>
                        ID:<input type="text" name="username">
                    </p>
                    <p>
                        PASSWORD:<input type="password" name="password">
                    </p>
                    <input type="submit" value="LOGIN">
                    {% csrf_token %}
                    </form>
                    <a href="/register/">Register</a>
                {% else %} <!-- 로그인이 되어있을 경우 user객체의 username을 출력해줌 -->
                    <p>Hi! {{ request.user.username }}</p>
                    <a href="/logout/">Logout</a>
                {% endif %}
            </div>
        </div>
    </div>
{% endblock %}