{% extends 'base.html' %}

{% load staticfiles %}
{% load imagekit %}
{% load humanize %}

{% block title %}{{ post.title }}{% endblock %}

{% block content %}

<div>
    <p>
    <h2>{{ post.title }}</h2>
    <hr>
    </p>
    <div class="col-md-1 text-center">
        {% if user.is_authenticated %}
        <a href="#" onclick="vote({{ post.id }}, 'up', '{{ csrf_token }}')"><span class="big-icon glyphicon glyphicon-thumbs-up"></span></a>
        <h2 class="vote-number">{{ post.vote }}</h2>
        <a href="#" onclick="vote({{ post.id }}, 'down', '{{ csrf_token }}')"><span class="big-icon glyphicon glyphicon-thumbs-down"></span></a>
        {% else %}
        <h2 class="vote-number">{{ post.vote }}</h2>
        {% endif %}
    </div>
    <div class="col-md-11">
        <p>
            {{ post.content }}
        </p>
        <p>
        <h4><span class="glyphicon glyphicon-tags"></span> Tag :  <a href="{% url 'tag_list_post' post.tag %}">#{{ post.tag }}</a></h4>
        </p>
        {% if photos %}
            {% for photo in photos %}
                <img src="{{ photo }}" />
            {% endfor %}
        {% else %}
            <p>Image isn't uploaded yet.</p>
        {% endif %}
        <p>
            <a href="{% url 'view_user' post.author.username %}">{{ post.author.username }}</a> 님이 {{ post.created_at|naturaltime }}에 작성
        </p>
        {% if post.author == user %}
        <p>
            <a href="{% url 'update_post' post.id %}">Update<span class="glyphicon glyphicon-pencil"></span></a> |
            <a href="#" onclick="del({{ post.id }}, '{{ csrf_token }}')">Delete<span class="glyphicon glyphicon-trash"></span></a> |
            <a href="{% url 'upload_photo' pk=post.pk %}">Upload Photo<span class="glyphicon glyphicon-camera"></span></a>
        </p>
        {% endif %}
    </div>
</div>
<script src="{% static 'scripts/post.js' %}"></script>

{% endblock %}